

.todo-item-list {
  display: flex;
  justify-content: align-content;
  align-items:stretch;
  text-align: center;
  width: 600px;
  padding: 20px;
  margin-bottom: 8px;
  background-color:#5fd1eb;
 }




 .todo-item-done {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #29a12b;
  padding: 20px;
  text-align: center;
  text-decoration: line-through;
  width: 600px;
  background-color:#0f5e6f;
 }
 .todo-item-not-done {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #e55f2a;
  text-align: center;
  text-decoration: none;
  width: 600px;
  background-color:#0f5e6f;
 }